.o-attribution {
  font-size: var(--o-attribution-font-size);
  background-color: var(--o-attribution-background-color);
  width: 100%;

  padding-inline-end: var(--o-attribution-horizontal-padding);
  padding-inline-start: var(--o-attribution-horizontal-padding);
}

.o-attribution > * {
  border-bottom: var(--o-attribution-section-borders);

  padding-top: var(--o-attribution-vertical-padding);
  padding-bottom: var(--o-attribution-vertical-padding);

  margin-left: auto;
  margin-right: auto;

  max-width: var(--o-attribution-max-width);
}

.o-attribution > *:last-child {
  border-bottom: none;
}

.o-attribution__flex {
  display: var(--o-attribution-section-display);
  justify-content: space-between;
  align-items: center;
}

.o-attribution__byline {
  margin-bottom: calc(var(--o-attribution-grid-base) * 2);
}

.o-attribution__toggle {
  display: flex;
  align-items: center;

  margin-top: var(--o-attribution-toggle-margin-top);
}

.o-attribution__feather {
  width: var(--o-attribution-feather-dimension);
  height: var(--o-attribution-feather-dimension);

  fill: var(--o-attribution-feather-fill);
  stroke: var(--o-attribution-feather-stroke);
  stroke-width: var(--o-attribution-feather-stroke-width);
  stroke-linecap: var(--o-attribution-feather-stroke-linecap);
  stroke-linejoin: var(--o-attribution-feather-stroke-linejoin);

  pointer-events: none;
}

.o-attribution__toggle .o-attribution__feather {
  margin-inline-start: calc(var(--o-attribution-grid-base) / 2);
  transform-origin: center;
}

.o-attribution__toggle.active .o-attribution__feather {
  transform: rotate(180deg);
}

.o-attribution__learn-more {
  display: var(--o-attribution-learn-more-display);
  grid-template-columns: var(--o-attribution-learn-more-columns);
  gap: calc(var(--o-attribution-grid-base) * 3);
}

.o-attribution__learn-more p {
  margin-bottom: var(--o-attribution-learn-more-p-margin-bottom);
}

.o-attribution__copyright p {
  margin-bottom: 0;
}

.o-attribution__copyright p > br {
  display: var(--o-attribution-copyright-br-display);
}

.o-attribution__logo-nyc {
  vertical-align: text-bottom;
  margin-inline-end: var(--o-attribution-grid-base);
}

.o-attribution__nav {
  list-style: none;
}

.o-attribution__nav .o-attribution__nav-item {
  display: block;

  padding-left: 0;
  padding-right: 0;

  padding-bottom: var(--o-attribution-nav-padding);
  padding-top: var(--o-attribution-nav-padding);
}

@media screen and (min-width: 768px) {
  .o-attribution__nav {
    display: flex;
    align-items: center;
  }

  .o-attribution__nav > .o-attribution__nav-item {
    display: inline-flex;
    margin-inline-end: var(--o-attribution-nav-item-margin);

    padding-bottom: 0;
    padding-top: 0;
  }

  .o-attribution__nav > .o-attribution__nav-item:first-child {
    margin-inline-start: 0;
  }

  .o-attribution__nav > .o-attribution__nav-item:last-child {
    margin-inline-end: 0;
  }
}
